html {
    font-family: verdana;
    font-size: calc(2vmin + 16px);
}

button {
    font-size: inherit;
    font-family: inherit;
    margin: 0 2rem 2rem 0;
    background: none;
    border: 1px solid #000;
}

/* the verticle black rectangle */
.rectangle {
    /* 
     * absolute position allows us to
     * set or modify top and left values
     */
    position: absolute;
    left: 50%;
    z-index: 100;
    background-color: black;
    top: 50%;
    width: 20px;
    height: 100px;
    display: none;
}

/*
 * video feeds are often flipped horizontally
 * below flips it back to normal
 */
video {
    transform: rotateY(180deg);
}